@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
}

/* Явно примушуємо фон бути темним */
html,
body {
  background-color: #0f172a !important;
  color: #f8fafc !important;
  margin: 0;
  padding: 0;
}
